@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%; // is now 1rem
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

p {
  line-height: 2.4rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

a {
  text-decoration: none;
}

@layer utilities {
  .color-transition {
    @apply transition-colors duration-500 ease-in-out;
  }

  .hover-icon {
    @apply hover:color-transition hover:text-primary cursor-pointer;
  }

  .right-arrow::after {
    content: "";
    border-color: transparent transparent transparent transparent;
    @apply border-l-bg3-light dark:border-l-bg3-dark absolute top-[40%] left-full -mt-1 border-[5px] border-solid;
  }

  .top-right-arrow::after {
    content: "";
    border-color: transparent transparent transparent transparent;
    @apply border-b-bg3-light dark:border-b-bg3-dark absolute left-[88%] bottom-full -ml-1 border-[5px] border-solid;
  }
}
